*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 47, 49);
    
}
nav {
    background-color: #00000067;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 150px;
    
}
nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 2.3px;
    color: rgb(255, 255, 255);
}
 header {
    background: url(https://images.wallpaperscraft.com/image/single/lake_mountains_forest_152659_3840x2160.jpg);
    max-width: auto;
    max-height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0% 0% / 30% ;
}
h1 {
    margin-top: 125px;
    font-size: 800%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 5px #4bcccc;
}
h2 {
    margin-top: 50px;
    font-size: 250%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px #000000;
    margin-bottom: 20px;
}
h3 {
    margin-top: 45px;
    font-size: 135%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px #000000;
    margin-bottom: 10px;
}
h4 {
    margin-top: 25px;
    font-size: 135%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px #000000;
    margin-bottom: 70px;
}
.box {
    position: absolute;
    top: 500px;
    max-width: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: table-cell;
    box-shadow: 1px 1px 15px 15px rgb(248, 0, 174);
    border-radius: 15px;
}
.box1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: table-cell;
    box-shadow: 1px 1px 15px 15px rgba(0, 251, 255, 0.5);
    border-radius: 15px;
}
.BebasNeue {
    font-family: 'Bebas Neue', cursive;
}
div {
    padding-bottom: 250px;
}
@media only screen and (max-width: 600px) { 
    
}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
    
}
